<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/javascripts/leaflet-0.6.2.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/L.BuildingsLayer.js"></script>
        <script src="/javascripts/Control.FullScreen.js"></script>
        <script src="/javascripts/leaflet.markercluster.js"></script>
        <script src="/javascripts/Leaflet.Coordinates-0.1.3.min.js"></script>
        <script type ="text/javascript" src="/javascripts/jquery-1.10.2.js"></script>
        <script type = "text/javascript" src="/javascripts/OSMBuildings-Leaflet.js"></script>
        <script type = "text/javascript" src="/data/buildingData.json"></script>
        <script type = "text/javascript" src="/javascripts/three.js"></script>
        <script type ="text/javascript" src="/javascripts/leaflet-search2.js"></script>
        <script type ="text/javascript" src="/javascripts/leaflet.awesome-markers.js"></script>
        <!--<script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.js"></script>-->
        <!--<script src="/javascripts/readymap-debug-0.0.1.js"></script>-->
        <!--<script src="/javascripts/L.Control.Zoomslider.js"></script>-->
        <script type="text/javascript">
            var socket = io.connect('http://localhost');
        </script>
        
         
        
        
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
        <link rel="stylesheet" href="/stylesheets/Leaflet.Coordinates-0.1.3.css" />
        <link rel="stylesheet" href="/stylesheets/Control.FullScreen.css" />
        <link rel="stylesheet" href="/stylesheets/MarkerCluster.css" />
        <link rel="stylesheet" href="/stylesheets/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="/stylesheets/leaflet-search.css" />
        <link rel="stylesheet" href="/stylesheets/leaflet.awesome-markers.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
        <!--<link rel="stylesheet" href="/stylesheets/readymap.css" />-->
        <!--<link rel="stylesheet" href="/stylesheets/L.Control.Zoomslider.css" />-->
        
        
        <style type="text/css">
            #map { height: 180px; };
        </style>
        
        <style>
			#container {
				background: #000;
				width: 400px;
				height: 300px;
			}
		</style>
 
        <div id="banner" style="width: 100%;height: 81px" align="middle">
            <img src="/images/cest_logo.png">
        </div>
        
    </head>
    <body>
        <div id="map" style="width: 100%; height: 750px;"></div>
        <script type="text/javascript">
            

            //1 = local
            //2 = remote
            //3 = osm example
            
            var config = 1;
            
            if(config ==1){
                var map = new L.map('map', {globe:true}).setView([38.83, -77.305], 15);
                L.tileLayer('mapfiles/998/256/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    minZoom: 15,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
                }).addTo(map);
            } else if(config == 2){
                var map = new L.map('map').setView([38.83, -77.305], 15);
                L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/998/256/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
                }).addTo(map);
            } else if(config ==3){
                var map = new L.Map('map').setView([52.52020, 13.37570], 17);
                new L.TileLayer(
                    'http://{s}.tiles.mapbox.com/v3/osmbuildings.map-c8zdox7m/{z}/{x}/{y}.png',
                    { attribution: 'Map tiles © MapBox', maxZoom: 17 }
                ).addTo(map);
            }
            
            //Fullscreen control
            L.control.fullscreen({
              position: 'topleft',
              title: 'Show me the fullscreen !'
            }).addTo(map);
            
            //Coordinates control
            L.control.coordinates({
                position:"bottomleft", //optional default "bootomright"
                decimals:5, //optional default 4
                decimalSeperator:".", //optional default "."
                labelTemplateLat:"Latitude: {y}", //optional default "Lat: {y}"
                labelTemplateLng:"Longitude: {x}", //optional default "Lng: {x}"
                enableUserInput:true, //optional default true
                useDMS:false, //optional default false
                useLatLngOrder: true //ordering of labels, default false-> lng-lat
            }).addTo(map);
            
            
            
            
            if(config ==1){
                new OSMBuildings(map).setData(buildingData);
                //new OSMBuildings(map).loadData();
                
            } else if (config ==3){
                var data = {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Polygon",
                            "coordinates": [[
                                [13.37356, 52.52064],
                                [13.37350, 52.51971],
                                [13.37664, 52.51973],
                                [13.37594, 52.52062],
                                [13.37356, 52.52064]
                            ]]
                        },
                        "properties": {
                            "wallColor": "rgb(255,0,0)",
                            "height": 500
                        }
                    }]
                };
            }
            
            
            
            
            //Marker cluster
            var markers = new L.MarkerClusterGroup();
            //for(i=0;i<25;i++){
            
            var darkBlueLaptopMarker = L.AwesomeMarkers.icon({
                icon: 'icon-camera',
                color: 'darkblue'
            });
            
            var darkRedDesktopMarker = L.AwesomeMarkers.icon({
                icon: 'icon-desktop',
                color: 'darkred'
            });
            
            var darkPurpleSuitcaseMarker = L.AwesomeMarkers.icon({
                icon: 'icon-suitcase',
                color: 'darkpurple'
            });
            
            
            
            
            //blue laptop
            var newMarker = new L.Marker([38.82831, -77.30757], {icon:darkBlueLaptopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            var newMarker = new L.Marker([38.82833, -77.30757], {icon:darkBlueLaptopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            var newMarker = new L.Marker([38.82835, -77.30757], {icon:darkBlueLaptopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            var newMarker = new L.Marker([38.82837, -77.30757], {icon:darkBlueLaptopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            //red desktop
            var newMarker = new L.Marker([38.828405, -77.307624], {icon:darkRedDesktopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            var newMarker = new L.Marker([38.82864, -77.30740], {icon:darkRedDesktopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            var newMarker = new L.Marker([38.82864, -77.30740], {icon:darkRedDesktopMarker});
            newMarker.bindPopup("hey");
            markers.addLayer(newMarker);
            
            
            //purple suitcase
            var newMarker = new L.Marker([38.82860, -77.30714], {icon:darkPurpleSuitcaseMarker});
            newMarker.bindPopup("<div id='tabs' style='height:239px;width:452px;'><img src='/images/popup.png'> </div>");
            markers.addLayer(newMarker);
            
            
            
            map.addLayer(markers);
            
            
            
            
            var featuresLayer = L.geoJson(buildingData);
            //var style = L.path
            featuresLayer.setStyle({stroke:false, fill:false});
            
            //var markersLayer = new L.LayerGroup();	//layer contain searched elements
            //map.addLayer(markersLayer);
            //leaflet-search
            map.addControl( new L.Control.Search({layer: featuresLayer, propertyName: "name", animateLocation:false, markerLocation:false}) );
            
            /*
            function setup3d()
            {
                // set the scene size
                
                var WIDTH = 400,
                  HEIGHT = 300;

                // set some camera attributes
                var VIEW_ANGLE = 45,
                  ASPECT = WIDTH / HEIGHT,
                  NEAR = 0.1,
                  FAR = 10000;

                // get the DOM element to attach to
                // - assume we've got jQuery to hand
                var $container = $('#container');
                console.log($container);

                // create a WebGL renderer, camera
                // and a scene
                var renderer = new THREE.WebGLRenderer();
                var camera =
                  new THREE.PerspectiveCamera(
                    VIEW_ANGLE,
                    ASPECT,
                    NEAR,
                    FAR);

                var scene = new THREE.Scene();

                // add the camera to the scene
                scene.add(camera);

                // the camera starts at 0,0,0
                // so pull it back
                camera.position.z = 300;

                // start the renderer
                renderer.setSize(WIDTH, HEIGHT);

                // attach the render-supplied DOM element
                $container.append(renderer.domElement);
                
                
                // create the sphere's material
                var sphereMaterial = new THREE.MeshLambertMaterial(
                {
                    color: 0xCC0000
                });

                // set up the sphere vars
                var radius = 50, segments = 16, rings = 16;

                // create a new mesh with sphere geometry -
                // we will cover the sphereMaterial next!
                var sphere = new THREE.Mesh(
                   new THREE.SphereGeometry(radius, segments, rings),
                   sphereMaterial);

                // add the sphere to the scene
                scene.add(sphere);

                // and the camera
                scene.add(camera);

                // create a point light
                var pointLight = new THREE.PointLight( 0xFFFFFF );

                // set its position
                pointLight.position.x = 10;
                pointLight.position.y = 50;
                pointLight.position.z = 130;

                // add to the scene
                scene.add(pointLight);

                // draw!
                renderer.render(scene, camera);
            }
            //setup3d();   
             */
            
            
        </script>
    </body>
</html>
        
  