html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	background:gray;
	
	font-family:arial,sans-serif;
	font-size:small;
	color:#666;
}

.wrapper {
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#f0f0f0;
	
	height:100%;
    width:100%;
    overflow:hidden;

}

}
.header {
    padding:1em;
	background:#ddd url("../csslayout.gif") 98% 10px no-repeat;
	border-bottom:6px double gray;
    overflow:hidden;
    text-align:center;
}
.content {
    height:100%;
    width:100%;
    overflow:hidden;
}
.footer {
    overflow:hidden;
    position:absolute;
    bottom:0;
    width:100%;
    
}

.logoImg{
    display:block;
    margin:auto;
}


#2dcontainer{
    height:200px;
    width:100%;
    z-index:2;
}

#3dcontainer{
    height:200px;
    width:100%;
    z-index:1;
}

.dg.ac{
    z-index:1;
}



.leaflet-popup-content-wrapper
{
    
    background-image: url('../../../images/blue_gradient_2.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    box-sizing: border-box;
    width:400px;
    height:300px;
    
    -moz-box-sizing: border-box;
}




.leaflet-popup-content
{
    margin-left:5px;
    margin-right:30px;
    margin-top: 5px;
    margin-bottom:10px;
    background-image:'';
    height: 95%;
    width:100%;
}


.detail-popup-info
{
    background-color: rgba(255, 255, 255, 0.0);
    background-image: none;
    border: 0px;
    height:100%;
    padding: 0px;
    width:100%;
    font-size: 0.9em;
}

.leaflet-container
{
    font: 18px, Georgia, serif;
}

#tabDevice{
    padding:5px;
    height:85%;
    width:100%;
    overflow:hidden;
}

.popupTable{
    border:1;
    height:100%;
    max-height:300px;
    width:100%;
    overflow:scroll;
}

.tdImg{
    text-align:center;
    overflow:hidden;
}

.routerImage{
    text-align:center;
}


.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{
    margin-right:20px;
}
