body
{
    background: black;
    overflow:hidden;
    padding:0;
    margin:0;
    color: white;
}

#header 
{
    margin: 0;
    padding: 5;
    background: #c60;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}    

#ViewContainer 
{
    clear: both;
    position: absolute;
}

#Help
{
    float:left;
    position:absolute;
    z-index:10;
    margin-left: 5;
}

#Coords
{
    float: left;
    position: absolute;
	bottom: 2px;
	left: 2px;
    z-index: 10;
    margin: 2;
    padding: 2;
}

#Search
{
    float: right;
	clear: both;
	position: relative;
	z-index: 10;
	margin: 2;
	padding: 2;
}

#InputSearch
{
    font-size: 0.75em;
	color: #fff;
	background-color: #000;
	opacity: 0.6;
	border: 1px solid #999;
	padding: 1px 2px;
}

#RSSPanelParent
{
    float: right;
    position: absolute;
	bottom: 2px;
	right: 2px;
    color: #fff;
    font-size: 1em;
	font-weight: bold;
	clear: both;
	z-index: 10;
	margin: 10 0 0 0;
	padding: 2;
}

#RSSPanel
{
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
	width: 250px;
	height: 400px;
	border: 1px solid #999;
	overflow: auto;
	padding: 2px;
}

#LayerSwitcher
{
     clear: both;
     width: 300px;
     padding: 5;
     margin: 5;
}

.opacity-slider {
  margin: 0.2em 1em 0.2em 1em;
}

a
{
    color: #ffffff;
}

.olImageLoadError {
 opacity: 0 !important;
 filter: alpha(opacity=0) !important;
 background-color: transparent !important;
}

#ElevationSlider
{
    clear:both;
    float:left;
    position:absolute;
    width: 300px;
    height: 10px;
    padding: 5;
    margin: 5;
}